//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Wed 12 20 01:36:03 2023

IO_LOC "SINGLE_LED_SP[6]" 73;
IO_PORT "SINGLE_LED_SP[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SINGLE_LED_SP[5]" 74;
IO_PORT "SINGLE_LED_SP[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SINGLE_LED_SP[4]" 75;
IO_PORT "SINGLE_LED_SP[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SINGLE_LED_SP[3]" 76;
IO_PORT "SINGLE_LED_SP[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SINGLE_LED_SP[2]" 77;
IO_PORT "SINGLE_LED_SP[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SINGLE_LED_SP[1]" 79;
IO_PORT "SINGLE_LED_SP[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SINGLE_LED_SP[0]" 80;
IO_PORT "SINGLE_LED_SP[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED_MODE[1]" 71;
IO_PORT "LED_MODE[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED_MODE[0]" 72;
IO_PORT "LED_MODE[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[6]" 38;
IO_PORT "LED7SEG[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[5]" 37;
IO_PORT "LED7SEG[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[4]" 36;
IO_PORT "LED7SEG[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[3]" 39;
IO_PORT "LED7SEG[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[2]" 25;
IO_PORT "LED7SEG[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[1]" 26;
IO_PORT "LED7SEG[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED7SEG[0]" 27;
IO_PORT "LED7SEG[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[6]" 63;
IO_PORT "TRANS[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[5]" 86;
IO_PORT "TRANS[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[4]" 85;
IO_PORT "TRANS[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[3]" 84;
IO_PORT "TRANS[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[2]" 83;
IO_PORT "TRANS[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[1]" 82;
IO_PORT "TRANS[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRANS[0]" 81;
IO_PORT "TRANS[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SWITCH[6]" 53;
IO_PORT "SWITCH[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SWITCH[5]" 51;
IO_PORT "SWITCH[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SWITCH[4]" 42;
IO_PORT "SWITCH[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SWITCH[3]" 41;
IO_PORT "SWITCH[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SWITCH[2]" 35;
IO_PORT "SWITCH[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SWITCH[1]" 40;
IO_PORT "SWITCH[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SWITCH[0]" 34;
IO_PORT "SWITCH[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BUTTON4" 33;
IO_PORT "BUTTON4" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BUTTON3" 30;
IO_PORT "BUTTON3" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BUTTON2" 29;
IO_PORT "BUTTON2" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BUTTON1" 28;
IO_PORT "BUTTON1" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP BANK_VCCIO=1.8;
